<!-- Archive Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>{{ page.title }}</h2>
      <ul>
        {% for post in site.posts | reverse %}
        <li>
          <h3>
            {{ post.date | date_to_string }} . 
            {{ post.category }} . 
            <a href="{{site.repository_name}}{{ post.url }}">{{ post.title }}</a> 
            {{ post.comments | default: "0" }} Comments
          </h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Archive End -->

